
<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>


var config = {
    apiKey: "AIzaSyA6B02v6-4zqFFdPw1JRNUN1Fu_QBUNEv8",
    authDomain: "think2-a6252.firebaseapp.com",
    databaseURL: "https://think2-a6252.firebaseio.com",
    projectId: "think2-a6252",
    storageBucket: "think2-a6252.appspot.com",
    messagingSenderId: "75453068397"
  };
  
firebase.initializeApp(config);

google.charts.load('current', {packages: ['corechart']});


</script>

