
<script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>

var config = {
    apiKey: "AIzaSyBqTpWrqnXMAudyAWIQsA4tlyuoAvMYfHU",
    authDomain: "think-12e6f.firebaseapp.com",
    databaseURL: "https://think-12e6f.firebaseio.com",
    projectId: "think-12e6f",
    storageBucket: "think-12e6f.appspot.com",
    messagingSenderId: "17821661067"
};

firebase.initializeApp(config);

google.charts.load('current', {packages: ['corechart']});


</script>

